.modal {
    background-color:rgb(0,0,0,0.7);
    width: 90%;
    margin: auto
}

.modalObject{
    display: flex;
    justify-content: center;
}

.graph-button {
    border-radius: 5px;
    border: #00B4CC;
    height: 38px;
    width: 150px;
    background-color: #00B4CC;
    color: white;
    font-family: sans-serif;
    font-size: 15px;
    cursor: pointer;
}

.fa-lg {
    padding: 0 0 0 10px;
}

.no-graphics-text {
    font-size: 3em;
    background-color: white;
    padding: 5px;
}

@media (max-width: 600px) {
    .graph-button {
        font-size: 0;
        width: 50px;
        position: relative;
    }
    .fa-lg {
        font-size: initial;
    }
}
